@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3> -->

<h3>Access to Archer Connect is granted via a System User.  
    System Users can be assigned to Organizations, Roles, and to a single person.
  
    </h3>
<br />
<h3>Access and Permissions</h3>
<h4>Access to resources within Archer Connect are enabled through the assignment of permissions
    each <b>resource</b> is <i>assigned</i> to an Organization(s), Role(s), and/or a Person(s).  Each assignment
    has a level of access associated to it.  Levels of access provide the abiltity to View, Edit, Create, or Delete 
    information within the system.  So what is a "resource" anyway?
    </h4>
<h3>Resources</h3>
<h4>There are 2 types of resources.  Visual resources and data resources.  Visual resources are things you see while navagatiing
    in the platform.  Menu items, dropdown boxes, Line of business modules (Treasure screens, Lien Resolutions screens) and 
    all of the items on those screen.  Each visual resource have varing states that are dictated by the level of permission 
    you enjoy through your login.  Some visual resources might be read only for you, where another user may be able to edit the 
    contents of that item.  Think updating a Social Security number, Some logins can, some cannot, other cannot even see the 
    Social Security number box on the screen.<br /><br />
    
    Data Resources are provisioned permissions in the same way.  These type of resource effect the content of what you 
    see in the system.  One login may see data pertaining to 10 cases, another login may only see data pertaining to 2 cases even if both of the logins 
    enjoy idential visual resource permissions. 
    <br /><br />
    You can think of it this way.  Data Resource permission determine what data you see, Visual resource permissions determine what 
    you can do with what you see.
</h4>
