@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Archer Connect - IAM</h1>
    <p class="lead">Archer Connect's Identity and Access Management is the core of the Archer Connect Platform&trade;.  It provides access and permission management for all user of the system both internal and external</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The top menu provides access to User Management, Role Management, Organizational Management, People Management, and Assignment of Permissions.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>Access to Archer Connect resources are governed by permission assignment.  Permissions can be assign to roles, organizations, or directly to user logins.</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Permissions</h2>
        <p>Permissions define what a user can see, update, edit, delete, and create in the system.  Permission effect the visual layout and capabilities available to a use as well as the underlying data sets that are available to a user</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
</div>